.dmenu{
    display: flex;
    align-items: center;
    
}
.upmenu{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
}
.dmenu a{
    color: black;
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}
.mcatalog{
    
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    opacity: 0.5;
}
.prod1{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 32px;

}
.prod2{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 32px;

}
.prod3{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 32px;
}
.prod4{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 32px;
}
.prod5{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 32px;
}
.prod6{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 32px;
}
.desc1{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 38px;
line-height: 46px;
}
.desc2{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
}
.desc3{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
}
.desc4{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
}
a{
    color: black;
}
.blogup{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 49px;
}
.blogmenu{
    display: flex;
    font-family: 'Crimson Text';
font-style: italic;
font-weight: 400;
font-size: 20px;
line-height: 26px;
}
.blogg{
    
    opacity: 0.5;
}
.pale{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
    color: #818181;
}
.about{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 31px;
}
.main{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
}
.btnw{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    background: #000000;
    color: #ffffff;
    text-transform: uppercase;
    width: 106;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px 22px;
    gap: 10px;
}
.ggg{
    
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
}
.An{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 34px;
    color: #C29974;
}